<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header>  
        <%- include('../partials/header.ejs') %>

        <%- include('../partials/nav-bar.ejs') %>
    </header>
    <!--Formulario-->
    <form action="/products/<%= detalle.id_producto%>?_method=PUT" method="POST" class="create-form" enctype="multipart/form-data" >
        <div class="caja-form">
            <h3 class="titulo-form-producto">Editar producto</h3>
            <div><label>ID del producto</label></div>
            <div class="control-formulario">
                <input type="text" name="id" class="control"  value="<%= detalle.id_producto%>" readonly="true" >
            </div>
            <div><label>Nombre del producto</label></div>
            <div class="control-formulario">
                <input type="text" name="nombre" class="control" placeholder="Alfajor de Frambuesa" value="<%= detalle.nombre%>" >
            </div>
            <div class="control-formulario">
                <div><label>Precio</label></div>
                <input type="number" name="precio" placeholder="200.50" class="control" value="<%= detalle.precio_unidad%>">
            </div>
            <div class="control-formulario">
                <div><label>Categoría</label></div>
                <select name="categoria" class="control">
                    <option value="<%= detalle.id_categoria%>">Actualmente : <%= detalle.id_categoria%></option>
                    <option value="4">BOMBONES</option>
                    <option value="6">TABLETAS</option>
                    <option value="3">HELADOS</option>
                    <option value="1">ALFAJORES</option>
                    <option value="2">MERMELADAS</option>
                </select>
            </div>
            <div class="foto-productos">
                <div><label class="label-form">Foto del producto</label></div>
                <div class="contenedor-foto-producto">
                    <input type="file" name="foto-producto" accept=".jpg, .png, .svg" class="adjuntar" value="<%= detalle.imagen%>">
                </div>
                <span>.jpg, .png, .svg</span>
            </div>
            <div class="control-formulario">
                <div><label>Descripción</label></div>
                <textarea name="descripcion" class="control"><%= detalle.descripcion%></textarea>
            </div>
            <div class="control-formulario-descuento">
                <div><label>Está en descuento</label></div>
                <input type="radio" name="enOferta">
            </div>

            <button type="submit" class="boton-formulario">Borrar</button>
            <button type="submit" class="boton-formulario">Guardar</button>
            
        </div>
            
    </form>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer> 
    <script src="/js/validacionProducts.js"></script> 
</body>
</html>

