<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Productos</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>

        <%- include('../partials/nav-bar.ejs') %>
    </header>
    <main>
        <section>
            <div class="grilla">
                <% for(let i = 0; i < productos.length; i++) {%>
                <article>
                    <% if(!productos[i].imagen){%>
                        <a href="/products/<%= productos[i].id_producto %>" class="hiper-fotos"><img  src="/img/popu-7.jpg" alt="Foto default" class='fotos-grilla'></a>
                    <%}else{%>
                        <a href="/products/<%= productos[i].id_producto %>" class="hiper-fotos"><img  src="/img/product/<%= productos[i].imagen%>" alt="Foto Productos" class='fotos-grilla'></a>  
                    <%}%>
                        <div class="info-producto-grilla">
                        <div class="truck-grilla"><i class="fa-solid fa-truck"></i></div>
                        <div class="descripcion-grilla"><%= productos[i].nombre %></div>
                        <div class="precios-grilla">$ <%= productos[i].precio_unidad %></div>
                    </div>
                </article>
                <%}%>
            </div>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    
</body>
</html>