<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header class="header-login">  
        <%- include('../partials/header.ejs') %>

        <%- include('../partials/nav-bar.ejs') %>
    </header>  
    <!--Formulario de registro-->
    <form action="/users/<%= user.id_usuario%>?_method=PUT" method="POST" class="formulario" enctype="multipart/form-data"> 
            <button>Editar usuario</button>
            <div><label>ID del usuario</label></div>
            <div class="nombre-apellido">
                <input type="text" name="id" value="<%= user.id_usuario%>" readonly="true" >
            </div>
            
            <div class="nombre-apellido">
            
            <input type="text" name="nombre" placeholder="Nombre" class="nombre-r" required minlength="8" value="<%= user.nombre%>">
            </div>
            <div class="nombre-apellido">
                <input type="text" name="apellido" placeholder="Apellido" class="nombre-r" required minlength="8" value="<%= user.apellido%>">
            </div>
            <div class="nombre-usuario">
                <input type="text" name="usuario" placeholder="Nombre de usuario" class="usuario-r" required minlength="4" value="<%= user.usuario%>">
            </div>
            <div class="e-mail">
                <input type="text" name="email" placeholder="E-mail" class="email-r" required value="<%= user.email%>">
            </div>
        
            <div class="foto-productos">
                <div><label class="label-form">Foto de perfil</label></div>
                <div class="contenedor-foto-producto">
                    <input type="file" name="foto-usuario" accept=".jpg, .png, .svg, .jpeg" class="adjuntar" placeholder="<%= user.foto_de_perfil%>">
                </div>
                <!-- value="<%= user.foto_de_perfil%>"  -->
                <span>.jpg, .png, .svg</span>
            </div>

            <div class="fecha-div">
                <div class="label">
                    <label class="label-form-r">Fecha de nacimiento</label>
                </div>
                <input type="date" name="fecha" placeholder="Fecha de nacimiento" class="fecha-r" value="<%= user.fecha_de_nacimiento%>">
            </div>
            <div class="domicilio-div">
                <input type="text" name="domicilio" placeholder="Domicilio" class="domicilio-r" value="<%= user.ciudad%>">
            </div>
            <div class="contraseña">
                <div class="label-contraseña"><label class="label-form">Contraseña</label></div>
                <div class="contenedor-contraseña">
                    <input type="password" name="password" placeholder="Contraseña nueva" class= "password-r">
                    <input type="password" name="password-conf" placeholder=" Confirmar contraseña" class= "password-r">
                </div>  
                <!-- value="<%= user.contraseña%>" -->
            </div>
            <div class="contenedor-button">
                <div class="contenedor-button-uno">
                    <button type="submit" class="button-enviar">Enviar</button>
                </div>
                <div class="contenedor-button-dos">
                    <button type="reset" class="button-borrar">Borrar</button>
                </div> 
                    
                
            </div>
    </form>
    <footer class="footer-login">
        <%- include('../partials/footer.ejs') %>
    </footer> 
</html>
